:root{
  --primary-color: #238262;
  --text-color-dark: #1D1D1D;
  --text-color-light: #FFFFFF;
  --background-color: #F6F6F6;
  --line-height-mobile: 1.5;
  --font: jakarta, sans-serif;

  /* ---------- Font sizes ---------- */
  --test-xs: 1em;
  --text-md: 1.5em;
  --text-lg: 1.625em;


  /* ---------- Call to action ---------- */
  --cta-pale-green: #71D7B5;
  --cta-light-green: #40BD93;
  --cta-mid-green: #58CBA5;
  --cta-dark-green: #238262;
  --cta-pale-red: #E25082;
  --cta-light-red: #DD2D69;
  --cta-mid-red: #D41F5C;
  --cta-dark-red: #93153F;
  --cta-pale-blue: #40BBFE;
  --cta-light-blue: #13AAFC;
  --cta-mid-blue: #06A4FA;
  --cta-dark-blue: #026BA4;
  --cta-pale-gray: #B3B6B4;
  --cta-light-gray: #979797;
  --cta-mid-gray: #808080;
  --cta-dark-gray: #6D6D6D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  width: 90vw;
  margin: 0 auto;
}

p {
  line-height: var(--line-height-mobile);
  font-size: var(--font-size-mobile);
  color: var(--text-color-dark);
}

